<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/aol.css">

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    <div class="container">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]--> 

        <div class="page-header row">
          <h1>{{ site.name }}<br>
          <small>{{ site.description }}</small></h1>
        </div>

        <div class="row">
          <div class="col-md-3">
          <div id="sidebar" data-spy="affix" data-offset-top="900" class="well">
            <ul>
              <li><a href="/#intro">INTRO</a></li>
              <li><a href="/#faith">OUR FAITH</a></li>
              <li><a href="/#recovery">LORD'S RECOVERY</a></li>
              <li><a href="/#history">HISTORY</a></li>
              <hr>
              <li><a>TESTIMONIES</a></li>
              <li><a>RESOURCES</a></li>
              <li><a>COMMENTS</a></li>
              <li><a>UPDATES</a></li>
              <hr>
              <li class="social">
                <span class="fb-like" data-href="http://an-open-letter.org/" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
              </li>
              <li class="social">
                <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/tweet_button.html" style="width:90px; height:21px;"></iframe>
              </li>
              <li class="social">
                <span class="g-plusone" data-size="medium"></span>
              </li>
              <li>
                <a href="/pdf/An_Open_Letter_From_LC_and_LSM.pdf">
                  <img src="/img/pdf.gif"></img>
                </a>
              </li>
            </ul>
          </div>
        </div>

          <div id="main" class="col-md-6">
            {{ content }}
          </div>

          <div id="rightbar" class="col-md-3">
            The whole thing that I am commanding you, you shall be certain to do; you shall not add to it, nor shall you take away from it.—Deut. 12:32
          </div>

        </div>

        <footer class="row">
          <hr>
          <p>&copy; 2013 DCP and Living Stream Ministry. All Rights Reserved.</p>
        </footer>


    </div> <!-- /container -->  
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="/js/vendor/bootstrap.min.js"></script>

        <script src="/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=297402036983700";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>

        <script>
          $('#sidebar').affix()
        </script>

    </body>
</html>
